<div class="container">

  <h1>Stupid coaching</h1>

  <p><%= @questions %></p>
  <p class= "fst-italic">-You</p>
  <p><%= @answers %></p>
  <p class= "fst-italic">-Your coach</p>

  <%= link_to 'Ask a new question', ask_path, class: "text-decoration-none" %>


</div>
